body {
    font-family: 'Roboto';
    background-color: #6b8ca9;
    width: 97vw;
}

a {
    color: black;
}

a:hover {
    color: cyan;
}

.project-img {
    max-width: 40%;
    height: auto;
    margin-right: 2em;
    cursor: pointer;
}

.text-img {
    max-width: 30%;
    height: auto;
    margin-right: 2em;
    cursor: pointer;
}

.paragraph-with-img {
    display: flex;
    padding-bottom: 2em;
}

@media (max-width: 680px) {
    .menu-btn {
        display: block; /* Show the button for smaller screens */
    }
    nav {
        display: none; /* Hide the menu by default for smaller screens */
    }
    nav.show {
        display: block; /* Show the menu when toggled */
    }
    nav  a {
        display: block;
    }
    .paragraph-with-img {
        display: block;
    }
    .project-img, .text-img {
        width: 100%;
    }
}