body {
    font-family: 'Roboto';
    font-size: medium;
    width: 8.5in;
    height: 11 in;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: repeat(1fr, 5);
}

#resume-head {
    grid-area: 1 / 1 / 2 / 4;
    font-size: large;
    background-color: #006400;
    color: white;
    padding: 1em;
}

#contact-info {
    display: flex;
    justify-content: space-between;
    font-size: small;
    padding-bottom: 2em;
}

#skills, #education {
    font-size: small;
    padding-left: 2em;
    padding-right: 2em;
}

.role {
    display: flex;
    justify-content: space-between;
}

#experience {
    grid-area: 2 / 1 / 6 / 3;
    padding-left: 2em;
}

.date {
    white-space: nowrap;
}

#skills {
    grid-area: 2 / 3 / 3 / 4;
}

#education {
    grid-area: 3 / 3 / 6 / 4;
}